.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    width: 100%;
    overflow-y: visible;
}

.movie-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
}

.movie {
    background: white;
    box-shadow: 0px 1px 2px gray;
    text-align: left;
}

.movie img {
    object-fit: cover;
    width: 100%;
    height: 500px;
    background: lightgray;
    display: block;
}

.movie .content {
    padding: 0 24px;
}
